@import url("https://use.typekit.net/ltk0vpd.css");

body {
    font-size: 16px;
    font-family:'futura-pt', sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 2.4em;
    font-family: monospace;
}

h3 {
    font-size: 1.4em;
    margin: 1.2em;
}



/*Main Page Styling*/
.twocolumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heroimage {
    max-width: 100%;
    height: 750;
    width: 500;
}

.introtext {
    max-width: 50%;
    margin-right: 0em;
}

/*Hero Image*/
.hero img {
    float: right;
    object-fit: cover;
    
}

/*Linebreak*/
.linebreak {
    background-color: bisque;
    border: .1em solid bisque;
    max-width: 50%;
    margin: auto;
}

main h2 {
    font-size: 2em;
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    text-align: center;
}

main p {
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 1.4em;
    margin-bottom: 1.2em;
    padding-left: 2em;
    text-align: center;
}

/*Paragraph box*/
#box-container {
    width: 50%;
    margin: 1em;
    
}

.box2 {
    height: auto;
}


.inner {
    width: 75%;
    margin: auto;
}

/*Header Shenanigans*/
header {
    background-color: azure;
}

header .inner {
    display: flex;
    justify-content: space-between; 
    height: 5em;
    align-items: center;
}

header nav ul li {
    display: inline;
    margin-left: 1.5em;
    font-family: monospace;
}

/*Footer Shenanigans*/
footer {
    background-color: azure;
    text-align: center;
    height: 5em;
    bottom: 0em;
    width: 100%;
}

#pagecontainer {
    position: relative;
    min-height: 100vh;
}

#contentwrap {
    padding-bottom: 5em;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;
}

/*Changes the style of links*/
a:link{
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color:crimson;
}

a:active {
    text-decoration: underline;
    color:crimson;
}


/*3 Grid Gallery Attempt*/
/*Some of the code is currently taken from your examples, this was so i could figure out whats going on*/
/*As such, the code will change when the foundations are fully understood*/
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1.5em;
    margin: 2em 0;
}

/*Visual Copy Final TBD - I wanted to learn/get this working first*/
.gallery div {
    background-color: cornflowerblue;
    min-height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
}

/*Gallery Images*/
.gallery .universityhouse {
    background-image: url(../images/universityhouse.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0);
}

.gallery h3 {
    color: crimson;
    text-align: center;
    display: none;
}
.gallery div:hover {
    filter: grayscale(0.8);
}
.gallery div:hover h3 {
    display: block;
}

